body{
    color: #434455;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
a, ul {
    list-style-type: none;
    text-decoration: none;
}

ul {
    padding-left: 0;
    margin-top: 0; 
    margin-bottom: 0;
}
img {
    display: block;
}

input {
	font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

    /* ================================  MOBILE HEDER STYLE  ================================================ */

@media screen and (max-width: 767px) {
 .container {
     max-width: 767px;
     padding-left: 15px;
     padding-right: 15px;
     margin-left: auto;
     margin-right: auto;}

.menu, .address{
        display: none;
    }
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0 16px 16px;
    
}
.studio {
    color: #2E2F42; 
   }
.logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;  
}

.mobile-menu-open-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    stroke: #111;
    line-height: 0;
  

}}
    /* ================================    /MOBILE HEDER STYLE    ================================================ */  
 

     /* ==============================  TABLET HEDER STYLE  ================================================ */
     @media screen and (min-width: 768px) {

        .container {
            max-width: 1167px;
            padding-left: 16px;
            padding-right: 16px;
        }
       .mobile-menu-open-btn {
        display: none;
       }
     .header {
        border-bottom: 1px solid #e7e9fc;  
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
    
      
    }
    
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        
    }
    .nav {
        display: flex;
        align-items: center;
    }
    
    .logo-conteiner {
        margin-right: 76px;
    }
    .logo {
        color: #4D5AE5;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17; /* 116.667% */
        letter-spacing: 0.03em;
        text-transform: uppercase;  
    }
    .menu {
        display: flex;
        gap: 40px;
    }
    .studio {
        color: #2E2F42; 
       }
    .header-link {
        color: #2E2F42;
        font-weight: 500;
        padding: 24px 0; 
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    
    .header-link:last-child {
        margin: 0;
    
    }
   
    .current {
    position: relative;
    color: #404BBF;
    }
    .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
    } 
    
    .address {
        font-style: normal;
        display: flex;
        gap: 40px;
    }
    .adress-menu {
        display: flex;
        gap: 12px;
        justify-content: flex-end;
        flex-direction: column;
    }
    .address-contact {
        color: #434455;
        transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
           
    }
    
     /* ================================  /TABLET HEDER STYLE  ================================================ */
}

@media screen and (min-width:  1158px)  {
    .container {
        max-width: 1440px;
    }

    /* ================================  DESKTOP HEDER STYLE  ================================================ */ 

    .header {
        border-bottom: 1px solid #e7e9fc;  
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);     
      
    }
    
    .header-container {
        max-width: 1122px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .nav {
        display: flex;
        align-items: center;
    }
    
    .logo-conteiner {
        margin-right: 76px;
    }
    .logo {
        color: #4D5AE5;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17; /* 116.667% */
        letter-spacing: 0.03em;
        text-transform: uppercase;  
    }
    .menu {
        display: flex;
        gap: 40px;
    }
    .studio {
        color: #2E2F42; 
       }
    .header-link {
        color: #2E2F42;
        font-weight: 500;
        padding: 24px 0; 
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    
    .header-link:last-child {
        margin: 0;
    
    }
    .header-link:hover,
    .header-link:focus,
    .header-link:active  {
        color: #404BBF;
    }
    
    .current {
    position: relative;
    color: #404BBF;
    }
    .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
    } 
    
    .address {
        font-style: normal;
        display: flex;
        gap: 40px;
    }
    .adress-menu {
        display: flex;
        gap: 40px;
        justify-content: flex-end;
        flex-direction: row;
        padding: 24px 0 24px 0;
    }
    .address-contact {
        color: #434455;
        transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
           
    }
    .address-contact:hover {
        color: #404BBF;
     }
     .address-contact:focus {
        color: #404BBF;
     }
   
     /* ================================  /DESKTOP HEDER STYLE  ================================================ */
}

/* ==========================================  MOBILE HERO SECTION  ======================================== */
.hero-section {
   
 
    background-image: 
    linear-gradient(
    to bottom, 
    rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)),
    url(../images/adaptiv_imeges/Dark-bg_m.jpg);    
    background-size: cover;
    
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
   
}
.hero-title {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
 
   
}
.hero-button {
    color: #FFF;   
    background-color: #4D5AE5;
    border-radius: 4px;    
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    width: 170px;
    height: 56px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);         
}  
.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;       
    
}
@media screen and (max-width: 767px) {

    .hero-section {
        max-width: 767px;
        padding: 72px 0;
        
       
        
    }
    @media screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px),
    screen and (min-device-pixel-ratio: 2) and (max-width: 767px)  {
        .hero-section {
          background-image: linear-gradient(
            to bottom, 
            rgba(46, 47, 66, 0.7), 
            rgba(46, 47, 66, 0.7)), url("../images/adaptiv_imeges/Dark-bg@2x_m.jpg");
        }
      }
    
    .hero-title {
        margin-bottom: 72px;   
        width: 288px; 
       
    }
  


}

/* ==========================================  /MOBILE HERO SECTION  ======================================== */

/* ==========================================  TABLET HERO SECTION   ========================================== */
@media screen and (min-width: 768px) {


.hero-section {
   
    padding: 112px 0;

    
}
@media screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px),
screen and (min-device-pixel-ratio: 2) and (min-width: 768px)  {
    .hero-section {
      background-image: linear-gradient(
        to bottom, 
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)), url("../images/adaptiv_imeges/Dark-bg_tbt@2x.jpg");
    }
  }

.hero-title {
   
    margin-bottom: 36px;
    max-width: 496px;  
   
}
  

}

/* =============================================      /TABLET HERO SECTION    ======================= */
/* =============================================      DESKTOP HERO SECTION    ======================= */
@media screen and (min-width:  1158px)  {

.hero-section {   
    padding: 112px 0;  
   
    
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
screen and (min-resolution: 2dppx) and (min-width: 1158px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1158px)  {
    .hero-section {
      background-image: linear-gradient(
        to bottom, 
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)), url("../images/adaptiv_imeges/people-office_dskt@2x.jpg");
    }
  }


.hero-title {
    margin-bottom: 48px;    
   
}

.hero-button:hover, 
.hero-button:focus {    
    background-color: #404BBF;
}

}
/* =============================================      /DESKTOP HERO SECTION    ================================== */
  /* ==========================================   MOBILE SPECIFICS SECTION   =====================================*/
  .specifics-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;   
    line-height: 1.1em;
    margin-bottom: 8px;
    text-align: center;
       
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .specifics-icons {
    display: none;     
    
  }
  .specifics-explanation {
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    
}
  @media screen and (max-width: 767px) {
 
    .specifics {
   max-width: 735px; 
   padding: 96px 0;
       
}

.specifics-menu {
    display: flex; 
    gap: 72px;
    flex-direction: column;
    align-items: center;
    max-width: 737px;
  }
.specifics-list {    
    width:288px;

  } 

}
 /* ==================================   /MOBILE SPECIFICS SECTION   =====================================*/
  /* ==================================   TABLET SPECIFICS SECTION   =====================================*/

  @media screen and (min-width: 768px) {

  .specifics {
     padding: 96px 0;
       
}

.specifics-menu {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px; 
    justify-content: center;
   
  }
.specifics-list {
    width: calc((100% - 72px)/2);
    
  }

}

   /* ==================================   /TABLET SPECIFICS SECTION   =====================================*/
    /* ==================================   DESKTOP SPECIFICS SECTION   =====================================*/

    @media screen and (min-width:  1158px)  {

    .specifics {
        padding: 120px 0; 
     
    }
    .specifics-container {
        margin: 0 auto;
    }
      .specifics-icons {
        display: flex; 
        align-items: center; 
        justify-content: center;
        height: 112px; 
        background-color: #f4f4fd; 
        border-radius: 4px;
        margin-bottom: 8px;
        border: 1px solid  #8E8F99;
        
      }
    .specifics-menu {
        display: flex; 
        gap: 24px;
        
       
      }
    .specifics-list {
        width: calc((100% - 72px)/4);
       
    
      }
    
    .specifics-explanation {
        font-weight: 400;
   
        
    }
    .specifics-title {
        color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        text-align:left;
           
    }
}
    /* ==================================   /DESKTOP SPECIFICS SECTION   =====================================*/
    /* ======================================  MOBILE OUR TEAM SECTION   ===================================== */
    .our-team {
        background-color: #F4F4FD;  
        margin: 0 auto;        
       
    }
    .our-team-title {
        color: #2E2F42;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        text-align: center;          
        margin-bottom: 72px;
    }
    .our-team-block {
        background-color: #FFF;        
        border-radius: 0px 0px 4px 4px;
        box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);      
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 264px;
        margin: 0 auto;
    }
    .our-team-person-container {
        padding: 32px 0;           
        
     }
     
     .our-team-person {
        color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
         text-align: center;
        margin-bottom: 8px;
            
        }
        .our-team-prof {
            color: #434455;    
            font-size: 16px;
            text-align: center;
            margin-bottom: 8px;
        
        }
        
        .menu-social-icons {
               
            justify-content: center;
            gap: 24px;
            display: flex;  
            align-items: center;      
        
        }
        .list-social-icons {
            width: 40px;
            height: 40px;
            
            
        }
        .social-links {   
            border-radius: 50%;
            background-color: #4D5AE5;
            width: 100%;
            height: 100%;
            display: flex; 
            align-items: center;
            justify-content: center; 
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
        
        }
     
        .container-social-links  {
            justify-content: center;
            gap: 24px;
            margin-bottom: 32px;
            margin-top: 8px;
            display: flex;  
            align-items: center;      
        
        }
        
        .socisl-links-icons {
            display: flex;
            align-items: center; 
            justify-content: center;
            background-color: #F4F4FD;
            fill:  #f4f4fd;
            
        }
    @media screen and (max-width: 767px) {
        .our-team {
        padding: 96px 0; 
           
        }
                    
    .menu-our-team {
        display: block;
        align-items: center;
            
        }
     .our-team-block {
        margin-bottom: 72px;
     }   
    .our-team-block:last-child {
       margin-bottom: 0px;
    }

    }

    /* ======================================  /MOBILE OUR TEAM SECTION   ===================================== */     
    /* ======================================  TABLET OUR TEAM SECTION   ===================================== */
    @media screen and (min-width: 768px) {

        .our-team {          
            padding: 96px 0;
           
        }
          
        .menu-our-team {
            display: flex;
            flex-wrap: wrap;
            column-gap: 24px;
            row-gap: 72px; 
            justify-content: center;
            width: 596px;
            margin: 0 auto;
            
        }
        
    
        
    }
     
    /* ======================================  /TABLET OUR TEAM SECTION   ===================================== */      
    /* ======================================  DESKTOP OUR TEAM SECTION   ===================================== */
    @media screen and (min-width:  1158px)  {

        .our-team {
            background-color: #F4F4FD; 
            padding: 120px 0;
           
        }
        .our-team-container {
            margin: 0 auto;
            
        }
         
        .menu-our-team {
            display: flex;
            width: auto;
            gap: 24px;
            justify-content: space-between;
           
         
        }
        
        .social-links:hover,
        .social-links:focus {
            background-color: #404bbf;
            
        }
        
    }
    /* ======================================  /DESKTOP OUR TEAM SECTION   ===================================== */

/* ======================================  MOBILE OUR PORTFOLIO SECTION   ===================================== */
.our-portfolio {
    color: #2E2F42;
    background-color: #FFFFFF; 
    
   
}
.our-portfolio-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px; 
   
}


.our-portfolio-list {
    margin-left: 0px;
    width: calc((100% - 48px)/1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    

}
.our-portfolio-list:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
    
}
.our-portfolio-img {
    position: relative;
    overflow: hidden; 
    max-width: 360px;
    
}
.our-portfolio-top {
    position: absolute; 
    top: 0;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em; 
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    max-width: 360px;

}
.our-portfolio-list:hover .our-portfolio-top,
.our-portfolio-list:focus .our-portfolio-top {

    transform: translateY(0%);

}
.our-portfolio-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none; 
    
}
.our-portfolio-item {
    color: #2E2F42;
    font-size: 20px;
    line-height: 1.2;   
    font-weight: 500;    
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.our-portfolio-product {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
   
}
@media screen and (max-width: 767px) {

    .our-portfolio {
      padding: 96px 0;
       
    }
    .our-portfolio-menu {
        display: flex;        
        flex-direction: column;
        align-items: center;       
        row-gap: 48px; 
        max-width: 360px;
        margin: 0 auto ;
        
       
    }
}
/* ======================================  /MOBILE OUR PORTFOLIO SECTION   ===================================== */

/* ======================================  TABLET OUR PORTFOLIO SECTION   ===================================== */
@media screen and (min-width: 768px) {
    .our-portfolio {
        padding: 96px 0;
         
      }
    .container-our-portfolio {
        display: inline;
        justify-content: center;

    }
   
    .our-portfolio-menu {
        display: flex;
        flex-wrap: wrap; 
        column-gap: 24px;     
        row-gap: 48px;
        justify-content: center;
        margin: 0 auto;
         

    }
    .our-portfolio-list {
        margin-left: 0px;
        width: calc((100% - 48px)/2);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
        max-width: 380px;
    
    }
    .our-portfolio-list:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
        
    
    }

}

/* ======================================  /TABLET OUR PORTFOLIO SECTION   ===================================== */

/* ======================================  DESKTOP OUR PORTFOLIO SECTION   ===================================== */
@media screen and (min-width: 1158px) { 
    
    .container-our-portfolio {
        display: flex;
        flex-direction: column;        
        align-items: center;
        margin: 0 auto;
        
    }
 
    .our-portfolio-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 24px;
        row-gap: 48px; 
    }
    .our-portfolio-list {
        margin-left: 0px;
        width: calc((100% - 48px)/3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        max-width: 360px; 
    
    }
 
    
}
/* ======================================  /DESKTOP OUR PORTFOLIO SECTION   ===================================== */

/* ================================================  MOBILE FOOTER  =============================================== */
.footer {
    background-color: #2E2F42;
    display: flex;
    margin: 0 auto;

}
.footer-container {
    padding: 96px 0;
}
.logo-web {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase; 
    display: inline-block; 
    margin-bottom: 16px;     
}
.logo-footer {
    color: #F4F4FD;  
}
.footer-text {
    color: #F4F4FD;
    
}
.social-media {
    color: #FFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    
}
.footer-form-button {
    width: 162px;
    height: 40px;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: row-reverse;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    
}
.footer-form-button-icon {
    margin-left: 16px;
    fill: #FFF;

}
.footer-form-label {
    display: flex;
    flex-direction: row;
    gap: 24px;
    
   }

.footer-form-input {
    width: 288px; 
    height: 40px; 
    border: 1px solid #ffffff; 
    background-color: transparent;
    font-size: 12px; 
    line-height: 1.5; 
    letter-spacing: 0.04em;
    padding-left: 16px; 
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); 
    border-radius: 4px;
    color: #ffffff; 

}
input::placeholder {
    color: #ffffff; 
}
.footer-text-form {
    margin-bottom: 16px; 
    font-weight: 500; 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    color: #ffffff; 
    

}
@media screen and (max-width: 767px) {
 
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
  
    .footer-text {
        max-width: 264px;      
        
    }
    .footer-container-logo-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 72px;

    }
    .footer-container-social-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 72px;
    }
  
    /* --    footer form  ---  */
    .footer-form-cotainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
   
    .footer-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        
    }
    .footer-form-input {
        width: 288px; 
     
    
    }
   
    .footer-form-button {
        width: 162px;
            
    }
   
 }


/* ================================================  /MOBILE FOOTER  =============================================== */
/* ================================================  TABLET FOOTER  =============================================== */
@media screen and (min-width: 768px) {
    .footer-container {
        margin: 0 auto;
        
       
    }
    .footer-container-logo-text-social-links {
        display: inline-flex;
        margin: 0 auto;
        max-width: 496px;
        justify-content: space-between;
        gap: 24px;
        margin-bottom: 72px;

    }
    .footer-form-cotainer {
        display: block;
        
    }
   
    .footer-form {
        display: flex;
        gap: 24px;
        
    }
    .footer-form-input {
        width: 264px; 
    
    
    }
  
    .footer-form-button {
        min-width: 165px;
        
        
    }
  
}

/* ================================================  /TABLET FOOTER  =============================================== */
/* ================================================  DESKTOP FOOTER  =============================================== */
   @media screen and (min-width: 1158px) { 
 


   .footer-container-logo-text-social-links {
        min-width: 584px;
        justify-content: flex-start;

   }
    .footer-container {
        display: flex;
     
           
    }
    .footer-container-logo-text {
        max-width: 264px;
       
    }
    .footer-container-logo-text-social-links {
      
        margin: 0 auto;
       max-width: 1288px;
       padding: 0 16px;

    }   

   }
/* ================================================  /DESKTOP FOOTER  =============================================== */

/* ==========================================    MOBILE MODAL WINDOW    ========================================== */
.modal-window-container {
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 99999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    margin: 0 auto;
}
.modal-window {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%) scale(1); 
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    padding: 72px 24px 24px 24px;    

}

.modal-window-button {
    position: absolute;
    top: 24px; 
    right: 24px;
    width: 24px;
    height: 24px; 
    border-radius: 50%;
    display: flex; 
    align-items: center;
    justify-content: center; 
    background-color: #e7e9fc; 
    border: 1px solid rgba(0, 0, 0, 0.1); 
    padding: 0; 
    cursor: pointer; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}
.modal-window-button:hover,
.modal-window-button:focus {
    background-color: #404bbf; 
    border: none; 
    fill: #ffffff;

}
.button-close { 

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-title {
    font-weight: 500; 
    font-size: 16px;
    line-height: 1.5;
    text-align: center; 
    letter-spacing: 0.02em; 
    color: #2E2F42;
    margin-bottom: 16px;
}
.container-form {
    margin-bottom: 8px; 

}
.form-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px; 
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;

}
.input-icon {
    position: relative; 
   
}
.input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px; 
    background-color: transparent; 
    outline: transparent; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    border-color: rgba(46, 47, 66, 0.40);
    padding-left: 38px; 

}
.input:focus {
    border-color: #4D5AE5;
   
}
.icon-person {
    position: absolute;
    left: 16px;
    top: 50%; 
    transform: translateY(-50%); 
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.input:focus + svg {
    fill: #4D5AE5;  

}
.container-form-textarea {
    margin-bottom: 16px;

}
.textarea-modal {
    width: 100%; 
    height: 120px; 
    font-size: 12px;
    line-height: 1.17; 
    letter-spacing: 0.04em; 
    color: rgba(46, 47, 66, 0.4); 
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px; 
    outline: transparent; 
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}
.textarea-modal:focus {
    border-color: #4D5AE5;

}
.checkbox-container {
    margin-bottom: 24px;
    display: flex;


}
.form-label-checkbox {
    font-size: 12px; 
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99; 

}
.form-label-span {
    width: 16px;
    height: 16px; 
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center; 
    justify-content: center; 
    fill: transparent; 
    margin-right: 8px;

}
input:checked +.form-label-checkbox > .form-label-span {     
	background-color: #404bbf;
    border: none; 
    fill: #F4F4FD; 

}
.privacy-policy {
    color: #4d5ae5;
    text-decoration-line: underline;
    
    }
    .form-button {
        display: block; 
        margin: 0 auto;
        min-width: 168px;
        height: 56px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        background-color: #4D5AE5;
        border: none; 
        border-radius: 4px; 
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);      
    
    }
@media screen and (max-width: 767px) {

    .modal-window {
     
        width: 288px;
        min-height: 623px;      
        padding: 72px 16px 16px 24px;        
    
    }
   
}
/* ==========================================    /MOBILE MODAL WINDOW    ========================================== */


/* ==========================================    TABLET MODAL WINDOW    ========================================== */
/* ==========================================    /TABLET MODAL WINDOW    ========================================== */
/* ==========================================    DESKTOP MODAL WINDOW   ========================================== */
/* ==========================================    /DESKTOP MODAL WINDOW   ========================================== */


 /* ==========================================    MOBILE MENU WRAPER    ========================================== */

 .mobile-menu-wraper-container {
    position: absolute;

}

.mobile-menu-wraper-btn-close {
    position: absolute;
    top: 24px; 
    right: -50px;
    width: 24px;
    height: 24px; 
    border-radius: 50%;
    display: flex; 
    align-items: center;
    justify-content: center; 
    background-color: #e7e9fc; 
    border: 1px solid rgba(0, 0, 0, 0.1); 
    padding: 0; 
    cursor: pointer; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    
    
}

.mobile-menu-wraper-btn-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-wraper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    background-color: #fff;
    transform: translateX(100%);
}
.mobile-menu-wraper.is-open {
    transform: translateX(0%);
    transition: 250ms;
}
.mobile-nav {
    margin-bottom: 168px;

}
.mobile-menu-nav {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 72px;
    margin-bottom: auto;
}

.mobile-menu-item {
font-size: 36px;
font-weight: 700;
line-height: 1.11em; /* 111.111% */
color: #2E2F42;
}

.mobile-menu-item:focus {
    color: #404BBF;
}
.mobile-address {



}
.mobile-adress-menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.mobile-adress-list {
  
}
.mobile-address {
    margin-bottom: 48px;
}
.mobile-address-contact {
    
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 0.12em; /* 120% */
    color: #2E2F42;
   

}
.mobile-address-contact:focus {
    color: #404BBF;

}
.mobile-menu-wraper-container {
    
}
.container-adress-social-links {
    display: flex;
    flex-direction: column;

}
.mobile-wraper-social-icons {
    display: flex;
    gap: 40px; 
    

}
.mobile-wraper-container-social-links {
    display: flex;
  
}

.mobile-wraper-social-links {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-social-icons {
      
   
}
.list-social-icons {
    width: 40px;
    height: 40px;
    
    
}
.social-links {   
    border-radius: 50%;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    display: flex; 
    align-items: center;
    justify-content: center; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);   

}
.social-links:hover,
.social-links:focus {
    background-color: #404bbf;
    
}
.social-links-icons {
    fill:  #f4f4fd;
}



  /* ================================= /MOBILE MENU WRAPER ========================================== */